.movies {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 10px;
    justify-content: center;
    text-align: center;
    z-index: -100;
}

.movies h1 {
    text-align: center;
}

.movie {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

.movie > div{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1fr));
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sort {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 60px;
}
